---
import type { Address } from '@/content/config'

const addressToString = (address: Address) =>
  `${address.streetAddress}, ${address.postalCode} ${address.addressLocality}`

interface Props {
  address: Address
  className?: string
  name?: string
}

const { address, className, name } = Astro.props
---

<a
  href={`https://www.google.com/maps/search/?api=1&query=${encodeURIComponent(
    addressToString(address),
  )}`}
  target="_blank"
  rel="noopener noreferrer"
  class={className}
>
  {name ? `${name}, ` : ''}{addressToString(address)}
</a>
