---
import { timeAndDate } from '@/tools/events'
import type { FullEvent } from '@/types'
import { Image } from 'astro:assets'
import AddressLink from './AddressLink.astro'

interface Props {
  event: FullEvent
}
const {
  event: {
    data: { name, startDate, endDate, image, location, organizer },
  },
  event,
} = Astro.props

const { Content } = await event.render()
---

<div
  class="w-full mx-auto max-h-32 md:max-h-48 lg:max-h-64 overflow-hidden mb-4"
>
  {
    image && (
      <Image
        src={image.src}
        alt={image.alt}
        class="rounded mb-4 -translate-y-2/4 mx-auto"
      />
    )
  }
</div>
<div class="flex flex-col mb-4 container">
  <div class="w-full md:w-1/2 lg:w-2/3 pl-4 mx-auto">
    <div class="pb-2">
      <h1 class="font-bold text-2xl mb-2 dark:text-slate-100">
        {name}
      </h1>
      <p class="text-gray-600 dark:text-slate-200">
        Beginn: {timeAndDate(startDate)}
      </p>
      {
        endDate && (
          <p class="text-gray-600 mb-2">Ende: {timeAndDate(endDate)}</p>
        )
      }

      {
        location?.data.address && (
          <p class="text-gray-600 mb-2 dark:text-slate-300">
            Ort:{' '}
            <AddressLink
              name={location.data.name}
              address={location.data.address}
              className="text-blue-800 dark:text-blue-400 hover:underline"
            />
          </p>
        )
      }
      <div class="prose dark:prose-invert">
        <Content />
      </div>
    </div>
    <>
      {
        organizer && (
          <h2 class="font-bold text-lg text-slate-700 dark:text-slate-300">
            {organizer.data.name}
          </h2>
        )
      }
      {
        organizer?.data.email && (
          <p class="text-gray-600 dark:text-slate-200">
            E-Mail:{' '}
            <a href={`mailto:${organizer.data.email}`}>
              {organizer.data.email}
            </a>
          </p>
        )
      }

      {
        organizer?.data.telephone && (
          <p class="text-gray-600 dark:text-slate-200">
            Telefon:{' '}
            <a href={`tel:${organizer?.data.telephone}`}>
              {organizer.data.telephone}
            </a>
          </p>
        )
      }
    </>
  </div>
</div>
