---
import Footer from '@/components/Footer.astro'
import { NavBar } from '@/components/NavBar.tsx'

interface Props {
  title: string
  description: string
  frontmatter?: {
    title: string
    description: string
  }
  ogImage?: string | undefined
  ogType?: string
  noindex?: boolean
}
const title = Astro.props.title || Astro.props.frontmatter?.title
const description =
  Astro.props.description || Astro.props.frontmatter?.description

const ogImage = Astro.props.ogImage
  ? `${Astro.site?.origin}${Astro.props.ogImage}`
  : undefined
const ogType = Astro.props.ogType ?? 'website'
const noindex = Astro.props.noindex ?? false
const canonicalUrl = Astro.url.href
---

<!doctype html>
<html lang="de" data-theme="sanft">
  <head>
    <meta charset="UTF-8" />
    <!-- Automatisches Theme-Switching basierend auf Browser-Einstellungen -->
    <script is:inline>
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.documentElement.setAttribute('data-theme', 'sanft-dark')
      }
    </script>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    {noindex && <meta name="robots" content="noindex, nofollow" />}
    <link rel="canonical" href={canonicalUrl} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content={ogType} />
    <meta property="og:url" content={canonicalUrl} />
    {ogImage && <meta property="og:image" content={ogImage} />}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    {ogImage && <meta name="twitter:image" content={ogImage} />}
    <title>{title}</title>
  </head>
  <body class="bg-base-100">
    <div class="min-h-screen flex flex-col">
      <NavBar client:idle />
      <div class="flex flex-col flex-grow">
        <slot />
        <div class="mt-auto">
          <Footer />
        </div>
      </div>
    </div>
  </body>
</html>
